@media (max-width: 1400px) {
  .sectionFirst {
    grid-template-columns: 80px 580px 1fr 1fr;
    grid-template-rows: 100px 220px 180px 96px;
  }
  .ads {
    margin-top: -10px;
    width: 370px;
    height: 380px;
    font-size: 14px;
    padding-top: 20px;
  }
  .timer {
    gap: 5px;
  }
  .timeHOurs,
  .timeMinutes,
  .timeSeconds {
    width: 45px;
    height: 80px;
  }
  #hours,
  #minutes,
  #seconds {
    font-size: 18px;
  }
  .ads h2,
  .specialPropose,
  .specialProposePrice,
  .timer {
    margin-left: 120px;
  }
  .ads h2 {
    font-size: 20px;
  }
  .adsSectionSecond {
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  header {
    height: 80px;
    justify-content: space-between;
    padding-top: 20px;
  }
  #title {
    margin-right: 80px;
  }
  .linksToSections {
    display: flex;
    margin-right: 8px;
  }
  .iconsNav {
    display: flex;
    margin-left: 50px;
  }
  .sectionFirst {
    background-image: url(../bckImages/bckNew1000px.svg);
    height: 1200px;
    background-color: #bcbfc3;
    grid-template-columns: 80px 450px 1fr 72px;
    grid-template-rows: 100px 180px 1fr 1fr;
  }
  .ads {
    display: none;
  }
  .colection {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .colection span {
    text-align: right;
    align-items: end;
    justify-content: flex-end;
  }
  .about {
    grid-row-start: 3;
    grid-row-end: 5;
    justify-content: flex-end;
    text-align: right;
    align-items: end;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .about img {
    margin-bottom: 40px;
    margin-top: 60px;
  }
  .about p {
    font-size: 26px;
    height: 350px;
    line-height: 32px;
    text-align: right;
    width: 300px;
    text-align: right;
    margin-left: 80px;
  }
  p {
    text-align: right;
  }
  .colection h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 85.59px;
  }
  .sectionThird p {
    text-align: center;
  }
  .sliderContainer {
    max-width: 642px;
  }
  .categoryLink {
    left: 40px;
  }
  .categoryCard {
    width: 214px;
  }
  .columns {
    gap: 60px;
  }
  .copy p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .sectionFirst {
    background-image: url(../bckImages/bck480px.svg);
  }
  .sideIcons {
    display: none;
  }
  .sectionFirst {
    display: grid;
    grid-template-columns: 150px 200px 1fr;
    grid-template-rows: 100px 250px 200px 139px;
  }
  .colection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .colection span {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .about {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .about p {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (max-width: 320px) {
  body {
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
  #scrollToTop {
    position: fixed;
    z-index: 2147483647;
  }
  .navHeader {
    padding: 0;
  }
  #title {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }

  header {
    max-width: 320px;
    height: 73px;
    padding: 0;
    margin: 0;
  }

  #title {
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    padding: 0;
    margin: 0;
    margin-left: 20px;
  }

  .linksToSections {
    display: none;
  }

  .iconsNav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }

  /* sectionfirst */
  .sectionFirst {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 159px 40px 194px 110px;
    max-width: 320px;
    background-image: url(../bckImages/bck320px.svg);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 0;
    padding-right: 20px;
    height: 470px;
  }

  .sideIcons,
  .ads,
  .about img {
    display: none;
  }

  .bck {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .colection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px;
    margin-top: 80px;
    padding-right: 12px;
  }

  .colection h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 89%;
    text-align: right;
    margin-left: -10px;
    text-align: right;
  }

  .colection span {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  .colection span p,
  .about p {
    font-size: 10px;
    text-align: right;
    line-height: 100%;
    width: 150px;
  }
  .collection #num {
    font-size: 8px;
  }
  .about {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 0;
    padding-right: 12px;
    font-size: 12px;
    width: 155px;
  }

  .about p {
    font-size: 12px;
    margin-left: 0px;
  }

  .about button {
    display: none;
  }
  /* sectionsecond */
  .menuList {
    font-size: 12px;
    margin-top: 30px;
  }
  .menuList a {
    margin-right: 10px;
  }
  .adsSectionSecond {
    display: none;
  }
  /* sectionthird */
  .titleSectionThird {
    margin: 0;
    margin-top: 40px;
  }
  /* sectionfour */
  .sliderContainerSecond {
    width: 170px;
  }
  /* sectionfive */
  .adsSectionFive {
    margin-bottom: -50px;
    margin-top: -50px;
    padding: 0;
    padding-left: 14px;
    background-image: url(../sliderSectionFourImages/girlInJeansMedia.svg);
  }
  .adsSectionFive h3,
  p {
    font-size: 10px;
    font-weight: bold;
  }
  .adsSectionFive button {
    width: 160px;
    height: 30px;
    padding: 5px 17px;
  }
  /* footer */
  .columns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .columns h3 {
    padding: 0;
    margin: 0;
  }
  /* sectionthird */
  .sliderWrapper {
    position: relative;
    margin-top: 40px;
  }
  .categoryCard {
    width: 188px;
  }
  .categoryLink {
    left: 110px;
  }
  .categoryCard .categoryImage {
    width: 188px;
    margin-left: 10px;
  }
  .prebtn,
  .nextbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 108px;
    background-color: #9d9d9d;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    writing-mode: vertical-rl;
    padding: 0;
    margin: 0;
    display: none;
  }

  .prebtn {
    left: 0;
    z-index: 10;
  }

  .nextbtn {
    right: 0;
  }
  /* sectionsix */
  .sliderBlog {
    display: flex;
    flex-direction: column;
  }
}
